@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>
@{
	ViewData["Title"] = "App Roles";
}
<h1>View Roles</h1>
<p>
	<a asp-action="Create">Create Role</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(model=>model.Id)</th>
			<th>@Html.DisplayNameFor(model => model.Name)</th>
		</tr>	
	</thead>
	<tbody>
		@foreach (var i in Model)
		{
			<tr>
				<td>@Html.DisplayFor(item =>i.Id)</td>
				<td>@Html.DisplayFor(item => i.Name)</td>
				 <td>
                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@i.Id">Delete</a>
                  </td>
			</tr>
		}
	</tbody>
</table>
